.menu {
  flex-shrink: 0;
  height: 100%;
  width: 300px;
  color: white;
  --bg-color: rgba(255, 255, 255, 0.2);
  --border-color: rgba(255, 255, 255, 0.15);
  transition: width 0.1s;
  overflow: hidden;
  padding-left: 5px;
  box-sizing: border-box;

  .margin-left-5px {
    margin-left: 5px;
  }

  .icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 5px;
      height: 0;
      background: #3178c6;
      border-radius: 5px;
      transition: height 0.1s;
    }
  }

  .fold-icon {
    border-radius: 5px;
    transition: background-color 0.1s;

    &:hover {
      background: var(--bg-color);
    }
  }

  .item {
    position: relative;
    font-size: 14px;
    user-select: none;
    cursor: default;
    height: 50px;
    display: flex;
    align-items: center;

    .title {
      margin-left: 10px;
      white-space: nowrap;
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: calc(100% - 10px);
      transition: background-color 0.1s;
      border-radius: 5px;
    }

    .arrow {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.1s;
      font-size: 10px;
    }

    .arrow-selected {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  .item:hover {
    &:before {
      background: var(--bg-color);
    }
  }

  .item-border {
    border-bottom: 1px solid var(--border-color);
  }

  .selected-item {
    &:before {
      background: var(--bg-color);
    }

    .icon:after {
      height: 60%;
    }
  }
}

.folded {
  width: 50px;
  .arrow {
    display: none;
  }
}
